/* src/components/Contact/Contact.module.css */

.contact {
  padding: var(--padding);
  background-color: var(--background-color-light);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.heading {
  text-align: center;
  font-size: var(--font-size-large);
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-weight: bold;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-small);
  color: var(--text-color);
}

.icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.form {
  background-color: #fff;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.formGroup {
  margin-bottom: 1.5rem;
  position: relative;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
  transition: border-color var(--transition-speed);
}

input:focus,
textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.submitButton {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  border: none;
  font-weight: bold;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed);
  cursor: pointer;
  width: 100%;
  font-size: var(--font-size-medium);
}

.submitButton:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}

.thankYou {
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  background-color: #fff;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.errorMessage {
  color: var(--error-color);
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contactInfo {
    margin-bottom: 1rem;
  }

  .form {
    padding: 1.5rem;
  }

  .submitButton {
    font-size: var(--font-size-small);
  }
}
